a {
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  text-decoration: none;
  -webkit-color: #f7f7f7;
  -moz-color: #f7f7f7;
  -ms-color: #f7f7f7;
  color: #f7f7f7;
}

a:hover {
  color: #f7f7f7;
  -webkit-color: #f7f7f7;
  -moz-color: #f7f7f7;
  -ms-color: #f7f7f7;
}

a:visited {
  color: #f7f7f7;
  -webkit-color: #f7f7f7;
  -moz-color: #f7f7f7;
  -ms-color: #f7f7f7;
}
