#main-project-div {
  display: grid;
  grid-template-areas:
    ". one two ."
    ". three four .";
  background-color: rgb(45, 57, 76);
}

#card1 {
  grid-area: one;
}

.main-card-container {
  margin: 2vh 4vw;
}

.card1-container {
  background-color: transparent;
  width: 600px;
}

#card2 {
  grid-area: two;
}

#card3 {
  grid-area: three;
}

#card4 {
  grid-area: four;
}
