* {
  font-family: "IBM Plex Mono", monospace;
}

#main-project-container {
  display: grid;
  background-color: rgb(35, 40, 64);
  grid-template-areas:
    "project details details"
    "project details details";
}

#sub-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 25vw;
  border-right: 1px dashed white;
}

.btn-show {
  background: transparent;
  border: none;
  align-self: center;
  outline: none;
}

.project {
  grid-area: project;
}

.proj-name {
  color: rgb(246, 73, 167);
  font-size: 3vh;
  width: 15vw;
  text-align: center;
}

a.proj-link {
  color: rgb(89, 223, 127);
  font-size: 2vh;
  font-weight: 600;
}

a.proj-link:hover {
  text-decoration: underline;
}

.hide-me {
  grid-area: details;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  box-shadow: rgb(60, 82, 209) 8px 8px 0px;
  background-color: rgb(217, 219, 219);
  color: rgb(35, 40, 64);
  font-weight: 600;
  width: 66vw;
  height: 50vh;
  margin-top: 10vh;
}

.proj-img {
  width: 25vw;
  height: auto;

  border-radius: 10px;
  box-shadow: rgb(60, 82, 209) 8px 8px 0px;
  margin-top: 5vh;
}

.proj-link-container {
  display: flex;
  justify-content: space-between;
  margin: 2vh 2vw;
  width: 15vw;
}
