#home-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
}

#intro-box {
  display: flex;
  margin: 15vh 1vw 5vh 1vw;
  align-items: center;
  justify-content: center;
  width: 80vw;
  justify-content: space-evenly;
}

#name {
  color: #f7f7f7;
  font-size: 9vw;
  text-align: right;
  max-width: 600px;
  line-height: 15vh;
  margin: 1vh 1vw;
}

#slash {
  color: #f7f7f7;
  display: inline-block;
  -webkit-transform: scale(2, 1); /* Safari and Chrome */
  -moz-transform: scale(2, 1); /* Firefox */
  -ms-transform: scale(2, 1); /* IE 9 */
  -o-transform: scale(2, 1); /* Opera */
  transform: scale(2, 15); /* W3C */
}

#job-title {
  font-size: 3vw;
  max-width: 400px;
  color: #f7f7f7;
}

#intro-brand-statement {
  color: #f7f7f7;
  max-width: 65vw;
  text-align: center;
}

#portfolio-link {
  width: 7vw;
  height: auto;
  margin-left: 1.5vh;
  margin-top: 2vh;
  margin-bottom: -3vh;
  filter: invert(100%);
}

#portfolio-link:hover {
  transform: scale(1.1, 1.1);
}

#link-description {
  color: #f7f7f7;
  text-align: center;
  margin-bottom: 5vh;
  font-size: 11px;
}

#video {
  height: auto;
  width: 100%;
  float: left;
  top: 0;
  position: fixed;
  background-size: 100vw auto;
  background-position: center;
  min-height: 80vh;
  min-width: 100%;
  z-index: -1;
}

@media screen and (max-width: 1450px) {
  #video {
    height: 100vh;
    width: auto;
  }

  #name {
    font-size: 9vw;
    text-align: right;
    max-width: 600px;
    line-height: 13vh;
    margin: 1vh 1vw;
  }

  #slash {
    margin: 0 2vw;
  }
}

@media screen and (max-width: 1200px) {
  #name {
    line-height: 11vh;
  }
}

@media screen and (max-width: 775px) {
  #name {
    line-height: 8vh;
  }
}

@media screen and (max-width: 375px) {
  #name {
    line-height: 6vh;
  }
}
